---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    {% assign year = page.date | date: "%Y" %}
    {% assign month = page.date | date: "%m" %}
    {% assign day = page.date | date: "%d" %}
    Written on
      <a href="/{{ year }}/{{ month }}/">{{ page.date | date: "%B" }}</a>
      <a href="/{{ year }}/{{ month }}/{{ day }}">{{ page.date | date: "%e" }}</a>,
      <a href="/{{ year }}">{{ page.date | date: "%Y" }}</a>
  </div>

  {% include disqus.html %}
</article>
